@{
        var Question = "";
        var Cat_ID = "";
        var Group_ID = "";
        var Dept_ID = "";
        var Active = "";

        var sSQL = "";
        var db = Database.Open("DDIncV2");
 
        var qryCategory = db.Query(@DDCHelpers.MasterListQuery("Question Category"));
        var listCategory = qryCategory.Select(x => new SelectListItem 
                    {
                       Value = x.Item_ID.ToString(),
                       Text = x.Item
                    });
        var qryGroup = db.Query(@DDCHelpers.MasterListQuery("Question Group"));
        var listGroup = qryGroup.Select(x => new SelectListItem 
                    {
                       Value = x.Item_ID.ToString(),
                       Text = x.Item
                    });
        var qryDept = db.Query(@DDCHelpers.MasterListQuery("Department")); 
        var listDept = qryDept.Select(x => new SelectListItem 
                    {
                       Value = x.Item_ID.ToString(),
                       Text = x.Item
                    });

 
    if(IsPost)
    {
      Question = Request["Question"];
      Cat_ID = Request["Cat_ID"];
      Group_ID = Request["Group_ID"];
      Dept_ID = Request["Dept_ID"];
      Active = Request["Active"];

      var sqlInsert = "INSERT INTO Question (Question, Cat_ID, Group_ID, Dept_ID, Active) Values (@0, @1, @2, @3, @4)";
      db.Execute(sqlInsert, Question, Cat_ID, Group_ID, Dept_ID, Active );
      Response.Redirect("Questions.cshtml");
    }

}

<h2>Create a New Question</h2>
&nbsp
<div style ="max-width: 500px; margin-left:2%;  ">
<form action="" method="post">
    
    <fieldset>
    <div class="form-group">
        <label for="Question" class="control-label">Question</label>
        <textarea rows="5" cols="50" name="Question" class="form-control" placeholder="Type in the Question (4000 characters max.)" ></textarea>
    </div><br/>

    <div class="form-group"> 
        <label for="Cat_ID" class="control-label">Category</label>
        @Html.DropDownList("Cat_ID", "==Select a Category==" , listCategory, Cat_ID, new{ @size="1", @class="form-control"})
    </div><br/>

    <div class="form-group">    
        <label for="Group_ID" class="control-label">Group</label>
        @Html.DropDownList("Group_ID", "==Select a Group==" , listGroup, Group_ID, new{ @size="1", @class="form-control"})
    </div><br/>

    <div class="form-group">    
        <label for="Dept_ID" class="control-label">Department</label>
        @Html.DropDownList("Dept_ID", "==Select a Department==" , listDept, Dept_ID, new{ @size="1", @class="form-control"})
    </div><br/>

    <div class="form-group"> 
        <label for="Active" class="control-label">Active</label>
            <select name="Active" size="1" class="form-control">
                <option value = "1" selected="selected">True</option>
                <option value = "0">False</option>
            </select>
    </div><br/>

    </fieldset>
    <input type="submit" value="Add Question" class="btn btn-lg btn-default" />
</form>
</div>
    &nbsp

<p>
    <a class="btn btn-default btn-lg" href="~/Datacap/Questions/Questions.cshtml" >Back</a>
    &nbsp
</p>