@{
    var qid=Request["qid"];

    var sSQL = "SELECT * FROM Question where Q_ID=@0";
    var db = Database.Open("DDIncV2");

    //returns one record (row), a complex data type
    var qryQ = db.QuerySingle(sSQL, qid);

    //Get the existing field values from the record
    var Question = qryQ.Question;
    var Cat_ID = qryQ.Cat_ID;
    var Group_ID = qryQ.Group_ID;
    var Dept_ID = qryQ.Dept_ID;
    var Active = qryQ.Active;


//construct the dropdown lists
    //Question Category - See Masters Table
        var qryCategory = db.Query(@DDCHelpers.MasterListQuery("Question Category")); 
        var listCategory = qryCategory.Select(x => new SelectListItem 
                    {
                       Value = x.Item_ID.ToString(),
                       Text = x.Item
                    });

    //Question Group - See Masters Table
        var qryGroup = db.Query(@DDCHelpers.MasterListQuery("Question Group")); 
        var listGroup = qryGroup.Select(x => new SelectListItem 
                    {
                       Value = x.Item_ID.ToString(),
                       Text = x.Item
                    });

    //Question Department - See Masters Table
        var qryDept = db.Query(@DDCHelpers.MasterListQuery("Department")); 
        var listDept = qryDept.Select(x => new SelectListItem 
                    {
                       Value = x.Item_ID.ToString(),
                       Text = x.Item
                    });
//update & save
    if(IsPost){
        Question = Request["Question"];
        Cat_ID = Request["Cat_ID"];
        Group_ID = Request["Group_ID"];
        Dept_ID = Request["Dept_ID"];
        Active = Request["Active"];

        var SQLUPDATE = "UPDATE Question Set Question=@1, Cat_ID=@2, Group_ID=@3,  Dept_ID=@4, Active=@5  WHERE Q_ID=@0";
//        Response.Write(qid + ", " + CO_Abbrev_Name + ", " + CO_Name + ", " + CO_Type_ID + ", " + CO_Status_ID + ", " + Main_Contact_ID );
        db.Execute(SQLUPDATE, qid, Question, Cat_ID, Group_ID, Dept_ID, Active);
        Response.Redirect("Questions.cshtml");
        }
}

<h2>Edit Question Info</h2>
&nbsp
<div style ="max-width: 500px; margin-left:2%;  ">
<form action="" method="post">
    <fieldset>
    <div class="form-group">
        <label for="Question" class="control-label">Question</label>
        <textarea rows="5" cols="50" name="Question" class="form-control" placeholder="Type in the Question (4000 characters max.)" >@Question</textarea>

    </div><br/>

    <div class="form-group"> 
        <label for="Cat_ID" class="control-label">Category</label>
        @Html.DropDownList("Cat_ID", null , listCategory, Cat_ID, new{ @size="1", @class="form-control"})
    </div><br/>

    <div class="form-group">    
        <label for="Group_ID" class="control-label">Group</label>
        @Html.DropDownList("Group_ID", null , listGroup, Group_ID, new{ @size="1", @class="form-control"})
    </div><br/>

    <div class="form-group">    
        <label for="Dept_ID" class="control-label">Department</label>
        @Html.DropDownList("Dept_ID", null , listDept, Dept_ID, new{ @size="1", @class="form-control"})
    </div><br/>

    <div class="form-group"> 
        <label for="Active" class="control-label">Active</label>
            <select name="Active" size="1" class="form-control">
                <option value = "1">True</option>
                <option value = "0">False</option>
            </select>
    </div><br/>

    </fieldset>
    <input type="submit" value="Save Changes" class="btn btn-lg btn-default" />
</form>
</div>
<br/>

<p>
    <a class="btn btn-default btn-lg" href="~/Datacap/Questions/Questions.cshtml" >Back</a>
    &nbsp
    <a class="btn btn-default btn-lg pull-right" href="~/DataCap/Questions/DeleteQItem.cshtml?qid=@qid" >Delete this Question</a>

</p>
