@{
    var school = Request["co_id"];
    var campus = Request["loc"];

//Question List
    var sSQL = @"select Q.Q_ID, 1 as Selected, Q.Question, Cat.Item as Category, Dept.Item as Department
                , Grp.Item as Q_Group, Q.Active
                from dbo.Question as Q
                inner join dbo.Masters as Cat on Cat.Item_ID =Q.Cat_ID
                inner join dbo.Masters as Dept on Dept.Item_ID = Q.Dept_ID
                left join dbo.Masters as Grp on Grp.Item_ID = Q.Group_ID";

    var selCat = "%" + Request["selCat"] +"%";
    var selDept = "%" + Request["selDept"] +"%";
    var selGroup = "%" + Request["selGroup"] +"%";

    var db = Database.Open("DDIncV2");

    var catList = db.Query(@DDCHelpers.MasterListQuery("Question Category")); 
    var deptList = db.Query(@DDCHelpers.MasterListQuery("Department")); 
    var groupList = db.Query(@DDCHelpers.MasterListQuery("Question Group")); 
    var ActiveList = new string[]{"Active", "Inactive"};
    var whereClause = " where";
    if(selCat != "%%") {
        whereClause = whereClause + " Cat.Item like '" + selCat +"'";
         }
    
    if(selDept != "%%") {
        if (whereClause != " where") {whereClause = whereClause + " and";}
        whereClause = whereClause + " Dept.Item like '" + selDept +"'";
         }
    if(selGroup != "%%") {
        if (whereClause != " where") {whereClause = whereClause + " and";}
        whereClause = whereClause + " Grp.Item like '" + selGroup +"'";
         }

    switch (Request["ActiveStr"]){
            case "Active": 
                if (whereClause != " where") {whereClause = whereClause + " and";}
                whereClause = whereClause + " Q.Active = 1"; break;
            case "Inactive": 
                if (whereClause != " where") {whereClause = whereClause + " and";}
                whereClause = whereClause + " Q.Active = 0"; break;
        }

    if (whereClause != " where") {sSQL = sSQL + whereClause;}
    var qryQuestions = db.Query(sSQL, selCat, selDept, selGroup);



}


<h2>Create Question Set</h2>
<h4>School: @DDCHelpers.Form_CO_Name(school)&nbsp &nbsp &nbsp &nbsp Campus: @DDCHelpers.Form_Loc_Name(campus)</h4>
<p>&nbsp</p>

<form action="" method="post">
<h4>Filter Questions on:</h4>
<div style ="max-width: 1000px; margin-left:2%;  ">
    <fieldset style="border: 1px solid #999; border-style: groove; border-radius: 8px; padding: 1em 2.5em 2em 2.5em;">

        <table>
            <tr>
                <th>Category</th>
                <th>Department</th>
                <th>Group</th>
                <th><label for="ActiveStr" class="control-label">Show Active/Inactive</label></th>
                <th></th>
            </tr>
            <tr>
                <td>
                    <select name="selCat" size="1" class="form-control" style="width:200px;" >
                    <option value="" selected> Any Category</option>
                        @foreach (var row in catList) {
                        <option @(Request["selCat"] == row.Item ? " selected=\"selected\"" : "")>@row.Item</option>
                        }
                    </select>
                </td>
                <td>
                    <select name="selDept" size="1" class="form-control" style="width:200px;" >
                    <option value="" selected> Any Department</option>
                        @foreach (var row in deptList) {
                        <option @(Request["selDept"] == row.Item ? " selected=\"selected\"" : "")>@row.Item</option>
                        }
                    </select>
                </td>
                <td>
                    <select name="selGroup" size="1" class="form-control" style="width:200px;" >
                    <option value="" selected> Any Group</option>
                        @foreach (var row in groupList) {
                        <option @(Request["selGroup"] == row.Item ? " selected=\"selected\"" : "")>@row.Item</option>
                        }
                    </select>
                </td>
                <td>
                    <select name="ActiveStr" size="1" class="form-control" style="width:200px;" >
                        <option value="All" selected>All</option>
                        @foreach (var listItem in ActiveList) {
                        <option @(Request["ActiveStr"] == listItem ? " selected=\"selected\"" : "")>@listItem</option>
                        }
                    </select>
                </td>
                <td>
                    <input type="submit" value="Select" class="btn btn-md btn-default" />
                </td>
            </tr>
        </table>
    </fieldset>
</div><br/>
<p>&nbsp</p>


<div class="table-responsive">
   <table class="table">
        <tr>
            <th>Add to Set</th>
            <th>ID</th>
            <th>Question</th>
            <th>Category</th>
            <th>Department</th>
            <th>Group</th>
            <th>Active</th>
        </tr>
       @foreach(var line in qryQuestions){
        <tr>
            <td> <input type="checkbox" name="Selected" checked="checked" value="@line.Q_ID" /></td>
            <td>@line.Q_ID </td>
            <td>@line.Question </td>
            <td>@line.Category </td>
            <td>@line.Department </td>
            <td>@line.Q_Group</td>
            <td>@line.Active </td>
        </tr>
        }
    </table>

<br/><br/>
</div>
</form>

<p>
    <a class="btn btn-default btn-lg" href="~/DataCap/Questions/QAPrepCampus.cshtml" >Back</a>
    &nbsp
</p>

@section script{
<script type="text/javascript">
    $(function () {

        $(document).on('click', 'th a, tfoot a', function () {
            $('form').attr('action', $(this).attr('href')).submit();
            return false;
        });

        $('#removeButton').on('click', function () { 
            $('button').attr('class', $(this).attr('class'));
        });
    });

</script>
}
