@{
    Page.Title = "Enter School and Campus Info";
        var db = Database.Open("DDIncV2");
        var schoolList = db.Query(DDCHelpers.qrySchool());

    var sSQL_Campus = @"select l.LocationID as Loc_ID, l.CO_ID, l.Loc_Branch_Name as Campus from dbo.Location as l
                       inner join Company as C on c.CO_ID = l.CO_ID
                       inner join dbo.Masters as Type on type.Item_ID =c.CO_Type_ID
                       and (Type.Item = 'School')
                       order by l.Loc_Branch_Name;";

    var selSchool = Request["selSchool"];
    var selCampus = Request["selCampus"];


//    var schoolList = db.Query(sSQL_Co);
    var campusList = db.Query(sSQL_Campus);
 
}

@section JSforQAPrepCampus {
<script>
    $(document).ready(function () {
        //lvl2Select is set to the level 2 dropdown id
        var lvl2Select = $('#selCampus');
        lvl2Select.attr('disabled', true);
        //on change event handler for the level 1 dropdown
        $('#selCampus').change(function () {
            console.log($('#selCampus').val());
            if ($('#selCampus').val() !== '0') {
                //add code here to update the href on PrepCampusNextBtn to contain the parameters
                //from selSchool & selCampus
                var school = '?co_id=' + $('#selSchool').val();
                var Campus = '&loc=' + $('#selCampus').val();
                var dest = '/DataCap/Questions/QAPrepQset.cshtml' + school + Campus;
                console.log(dest);
                $('#PrepCampusNextBtn').attr('href', dest)
                $('#PrepCampusNextBtn').removeClass('disabled')
            }
        });
        $('#selSchool').change(function () {
            //get the selected value
            var schoolId = $(this).val();
            //filter the level 2 dropdown list using the value from above. 
            //L2 list is made by invoking code on GetProducts.cshtml
            $.getJSON('/Datacap/Questions/GetCampus/' + schoolId, function (Campuses) {
                lvl2Select.attr('disabled', false);
                lvl2Select.empty();
                lvl2Select.append($('<option/>').attr('value', '0').text('-- Select Campus --'));
                $.each(Campuses, function (index, Campus) {
                    lvl2Select.append($('<option/>').attr('value', Campus.Loc_ID).text(Campus.CampusName));
                });
            });
        });
    });
</script>
}

<h2>@Page.Title</h2>
<p>&nbsp</p>


<h4>Select School, Campus, etc:</h4>
<div style ="max-width: 768px; margin-left:2%;  ">
<form action="" method="post" class="QAPrepCampus">
    <fieldset style="border: 1px solid #999; border-style: groove; border-radius: 8px; padding: 1em 2.5em 2em 2.5em;">
       <table>
            <tr>
                <th>School</th>
                <th>Campus</th>
            </tr>
            <tr>
                <td>
                <select name="selSchool" id="selSchool" size="1" class="form-control" style="width:330px;" >
                    <option disabled selected value="0">-- Select School --</option>
                    @foreach(var row in schoolList) {
                        <option value="@row.CO_ID" @(Request["selSchool"] == row.CO_ID.ToString() ? " selected=\"selected\"" : "")>@row.Name</option>
                    }
                </select>
                </td>
                <td>
                <select name="selCampus" id="selCampus" size="1" class="form-control" style="width:200px;" >
                    <option disabled selected>-- Select Campus --</option>
                    @foreach(var row in campusList) {
                        <option value="@row.Loc_ID" @(Request["selCampus"] == row.Loc_ID.ToString() ? " selected=\"selected\"" : "")>@row.Campus</option>
                    }
                </select>
                </td>
            </tr>
        </table>
    </fieldset>
</form>
</div>
<br/>
<p>
    <a class="btn btn-default btn-lg" href="~/index.cshtml" 
    title="Click to return to the Home Page">Home</a>
    &nbsp
    <a class="btn btn-default btn-lg disabled" id="PrepCampusNextBtn"
    href="~/DataCap/Questions/QAPrepQset.cshtml?co_id=@selSchool&loc=@selCampus" 
    title="Select a School and Campus to proceed.">Next</a>
</p>

