@{
        var CO_Abbrev_Name = "";
        var CO_Name = "";
        var CO_Type_ID = "";
        var CO_Status_ID = "";
        var CO_Main_Phone = "";

        var sSQL = "";
        var db = Database.Open("DDIncV2");
 
        var sel_CO_Type = db.Query(@DDCHelpers.MasterListQuery("Company Type")); 
        var sel_CO_Status = db.Query(@DDCHelpers.MasterListQuery("Company Status")); 

 
    if(IsPost)
    {
      CO_Abbrev_Name = Request["shortName"];
      CO_Name = Request["fullName"];
      CO_Type_ID = Request["CO_Type"];
      CO_Status_ID = Request["CO_Status"];
      CO_Main_Phone = Request["CO_Main_Phone"];

      var sqlInsert = "INSERT INTO Company (CO_Abbrev_Name, CO_Name, CO_Type_ID, CO_Status_ID, CoMainPhone) Values (@0, @1, @2, @3, @4)";
      db.Execute(sqlInsert, CO_Abbrev_Name, CO_Name, CO_Type_ID, CO_Status_ID, CO_Main_Phone );
      Response.Redirect("Companies.cshtml");
    }

}

<h2>Create a New Company</h2>
&nbsp
<div style ="max-width: 500px; margin-left:2%;  ">
<form action="" method="post">
    
    <fieldset>
    <div class="form-group">
        <label for="shortName" class="control-label">Short Name</label>
        <input type="text" name="shortName" class="form-control" placeholder="Ex: ABC">
    </div><br/>

    <div class="form-group"> 
        <label for="fullName" class="control-label">Full Name</label>
        <input type="text" name="fullName" class="form-control" placeholder="Ex: American Broadcasting Company, Inc.">
    </div><br/>

    <div class="form-group"> 
        <label for="CO_Type" class="control-label">Type</label>
            <select name="CO_Type" size="1" class="form-control">
            @foreach(var row in sel_CO_Type)
            {
                <option value = "@row.Item_ID">@row.Item</option>
            } </select>
    </div><br/>

    <div class="form-group">    
        <label for="CO_Type" class="control-label">Status</label>
            <select name="CO_Status" size="1" class="form-control">
            @foreach(var row in sel_CO_Status)
            {
                <option value = "@row.Item_ID">@row.Item</option>
            } </select>
    </div><br/>

    <div class="form-group"> 
        <label for="CO_Main_Phone" class="control-label">Main Phone Number</label>
        <input type="text" name="CO_Main_Phone" class="form-control" placeholder="Area + Phone, Ex: 212-555-1212">
    </div><br/>

    </fieldset>
    <input type="submit" value="Add Company" class="btn btn-lg btn-default" />
</form>
</div>
    &nbsp

<p>
    <a class="btn btn-default btn-lg" href="~/Datacap/Companies/Companies.cshtml" >Back</a>
    &nbsp
</p>