@{
    var co_id=Request["id"];
    var loc=Request["loc"];

    var sSQL ="";
    var db = Database.Open("DDIncV2");

//Do the Delete
    if(IsPost){
        var sSQL_Delete = "DELETE FROM SchoolDetails WHERE Loc_ID=@0";
        db.Execute(sSQL_Delete, loc);
      Response.Redirect("~/Datacap/School_Details/SchoolDetails?id=" + @co_id + "&loc=" + @loc);
        }
 }

<h2>Delete School Details</h2>
<p>&nbsp</p>
<p style="font-family: Calibri; font-size: 180% ; font-weight: 300; text-align: center ">
    Are you sure you want to delete the School Details for:</p>
    <p style="font-family: Calibri; font-size: 180% ; font-weight: 300; text-align: center ">
        <span style="font-weight: 900">@DDCHelpers.Form_CO_Name(co_id),
        @if (@DDCHelpers.Form_Loc_Name(loc) == "Main Campus") 
    { <text>@DDCHelpers.Form_Loc_Name(loc).</text>} 
    else
    {<text>@DDCHelpers.Form_Loc_Name(loc) Campus</text>}?</span></p>
<p>&nbsp</p>
<form action="" method="post">
    <input class="btn btn-default btn-lg" type="submit" value="Yes"/>
    <input class="btn btn-default btn-lg" type="button" value="No" onclick="window.location = 'SchoolDetails?id=' + @co_id + '&loc=' + @loc" />
</form>


